
.cart-main-div {
    display: flex;
    flex-direction: column;
}
.single-cart-main-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 auto;
}
.single-cart-sub-div {
    width: 100%;
}