.foot-div{
    background-color: black;
    color: white;
    padding: 20px 0px 20px 0px;
  }

  .right-div p{
    margin:0px;
    text-align: center;
    color: #929292;
    padding: 10px 0px 0px 0px;
  }
  