.main-div-hero-section img {
  width: 100%;
}

.main-div-hero-section {
  margin-top: -98px;
}

.heading-div {
  position: absolute;
  top: 380px;
  left: 90px;
}

.heading-div h1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.1;
  text-transform: uppercase;
}

.heading-div p{
  font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
    text-transform: capitalize;
}

.btn-main-page-releated {
  text-align: center;
}

.btn-main-page-releated button {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 12px;
  margin-top: 40px;
}

.related-sneakers-div{


  padding: 20px 120px 50px 120px;
width: 80%;
}
/* @media(width:768px){
  .heading-div{
    top: 160px;
    left: 50px;
  }
  .heading-div h1{
    font-size: 30px;
  }
} */
@media(max-width:760px){
  .heading-div {
    position: absolute;
    top: 107px;
    left: 26px;
}
.heading-div h1 {
  font-size: 13px;
}

.heading-div p {
  font-size: 11px;
}

.related-sneakers-div{
  padding: 10px 0px 0px 0px;

  width: 100%;
}
.related-sneakers-sub-div{
  row-gap: 41px;
}
.relared-sneakers-card-div {
  width: 64% !important;
  padding: 28px;

}

.btn-main-page-releated {
  padding-bottom: 40px;
}
}