
.main {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
    
}
.main-products-div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    column-gap: 40px;
    padding: 40px 20px 0px 20px;
    width: 65%;
    flex-wrap: wrap;
    row-gap: 40px;
    height: fit-content;
   
}
.main-single-product-div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 20px 4px #0000002e;
    padding: 20px;
    border-radius: 6px;
    width: 22%;
}

.product-img-div img {
    max-width: 100%;
}

.product-name-div p{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding-top: 8px;
    line-height: 1.4;
}

p.single-p-size {
    font-size: 13px;
    font-weight: 500;
    color: rgb(129, 129, 129);
    margin: 10px 0px 0px 0px;
}

.product-price-div p {
    font-size: 17px;
    font-weight: 500;
}

.select-cart-div-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    padding: 6px;
}

button.single.product-btn {
    padding: 14px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 7px;
}

@media(max-width:786px){
    .main{
        flex-direction: column;
        align-items: center;
    }

    .main-products-div{
        width: 100%;
        justify-content: center;
        padding: 40px 0px 0px 0px;
    }

    .main-single-product-div{
        width: 30%;
    }
}

@media(max-width:350px){
    .main-single-product-div{
        width: 59%;
    }
}

@media(min-width:787px){
    .main-products-div{
        width: 75%;
    }
}