.sidebar-main-div {
    width: 14%;
    margin-left: 34px;
    margin-top: 55px;
}

.category-main-div {
    border: solid 1px;
    padding: 12px;
}
.category-radio-div label {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 6px;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-end;
    column-gap: 9px;
    padding-bottom: 10px;
}

.category-heading p {
    font-size: 18px;
    font-weight: 700;
}